<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:context="http://www.springframework.org/schema/context"
       xmlns:tx="http://www.springframework.org/schema/tx"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
  http://www.springframework.org/schema/beans/spring-beans-3.0.xsd
  http://www.springframework.org/schema/context
  http://www.springframework.org/schema/context/spring-context-3.0.xsd
  http://www.springframework.org/schema/tx
  http://www.springframework.org/schema/tx/spring-tx.xsd">

       <context:component-scan base-package="toj.demo.whatsup" />

       <bean id="dataSource" class="org.apache.commons.dbcp.BasicDataSource"
             destroy-method="close">
              <property name="driverClassName" value="org.h2.Driver" />
              <property name="url" value="jdbc:h2:mem:~/whatsup;DB_CLOSE_ON_EXIT=FALSE" />
              <property name="username" value="sa"/>
              <property name="password" value="Misuvd000102" />
       </bean>

       <bean id="entityManagerFactory"
             class="org.springframework.orm.jpa.LocalContainerEntityManagerFactoryBean">
              <property name="persistenceUnitName" value="testPU" />
              <property name="dataSource" ref="dataSource" />
              <property name="jpaVendorAdapter" ref="jpaVendorAdapter"/>
              <property name="packagesToScan" value="toj.demo.whatsup.domain"/>
              <property name="jpaProperties">
                <props>
                   <prop key="hibernate.enable_lazy_load_no_trans">true</prop>
                   <prop key="hibernate.jdbc.batch_size">50</prop>
                </props>
              </property>
       </bean>

       <bean id="transactionManager" class="org.springframework.orm.jpa.JpaTransactionManager">
              <property name="entityManagerFactory" ref="entityManagerFactory" />
              <property name="persistenceUnitName" value="testPU" />
       </bean>
       <tx:annotation-driven transaction-manager="transactionManager" />

       <bean id="jpaVendorAdapter" class="org.springframework.orm.jpa.vendor.HibernateJpaVendorAdapter">
              <property name="database" value="H2"/>
              <property name="showSql" value="true"/>
              <property name="generateDdl" value="true"/>
              <property name="databasePlatform" value="org.hibernate.dialect.H2Dialect"/>
       </bean>

</beans>